
/*Button With Pending */
button {
    padding: 0.4rem 2rem;
    //Loading Icon
    .loading-icon {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
  /*Button With Pending */


// <LanguageBar>
.change-language {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem;
    
    .disp {
      background-color: rgb(209, 208, 208);
      padding: 5px 10px;
      border-radius: 10px;
      img {
        width: 28px;
        height: 20px;
        border: 1px solid white;
        margin-right: 0.4rem;
        cursor: pointer;
      }
    }
  }
  // <LanguageBar> Finish