
//SignUp Login Base Form
.base-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    color: rgb(0, 0, 0);
    background-image: url("../../public/img/baseform-bg.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #eaebff;
  }

/* User Signup Form */
  .user-signup-form {
    .container {
      width: 50%;
      text-align: left;
      padding: 2rem;
      background-color: rgb(231, 231, 231);
      border-radius: 1rem;
    }
  
    .error {
      color: red !important;
    }
  }
  /* User Signup Form Finish*/
  
  
  
  /* User Signup Form */
  .login{
    .div-up{
      background-color: rgb(231, 231, 231);
      width: 700px;
      height: auto;
      padding: 2rem;
      border-radius: 1rem;
    }
  }
  /* User Signup Form Finish*/
  