@media only screen and (max-width: 1000px) {
  .home {
    .row {
      .col-6 {
        width: 100%;
        margin-bottom: 2rem;
      }
      .right-bar {
        .img-container {
          text-align: center;
          img {
            width: 350px;
          }
        }
      }
      .button-container {
        justify-content: center;
        button {
          width: 100%;
        }
      }
    }
  }

  .user {
    .main {
      .left-bar{

        .profile-image {
         img{
          width: 130px !important;
         }
        }

        .body {
          .information {
            margin-top: 3rem;
          }
          .button-container{
            margin-top: 3rem;
          }
        }
      }
     
    }
  }
  
}



@media only screen and (max-width: 578px) {
  .home {
    .row {
      .right-bar {
        .img-container {
          img {
            width: 200px;
          }
        }
      }
      .button-container {
        flex-flow: row wrap;
        button {
          width: 100%;
        }
      }
    }
  }

  .user {
    .main {
      .left-bar{

        .profile-image {
         img{
          width: 100px !important;
         }
        }

     
      }
     
    }
  }
}
